@model HRProjectBoost.DTOs.DTOs.Personnel.PersonnelChangePasswordDto
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Personnel/Views/Shared/_LayoutPersonnel.cshtml";
}

<h1>Change Password</h1>

<form asp-action="ChangePassword" method="post">
    <div class="form-control">
        <label asp-for="CurrentPassword">Current Password:</label>
        <input type="password" placeholder="Current password" asp-for="CurrentPassword" />
        <span asp-validation-for="CurrentPassword"></span>
    </div>
    <div class="form-control">
        <label asp-for="NewPassword">New Password:</label>
        <input type="password" placeholder="New password" asp-for="NewPassword" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-control">
        <label asp-for="ConfirmNewPassword">New Password Again:</label>
        <input type="password" placeholder="New password again" asp-for="ConfirmNewPassword"  />
        <span asp-validation-for="ConfirmNewPassword"></span>
    </div>

    <button class="btn btn-primary" type="submit">Change Password</button>

</form>

